@using CarnivorousPlants.Models.PlantsViewModels
@model RecognizeViewModel

@{
    ViewData["Title"] = "Recognize";
}

<h1>Recognize</h1>

<img src="@Model.PhotoURL" alt="Photo" height="50%" width="50%">

@Html.DisplayFor(model => model.ImagePrediction.Predictions.OrderByDescending(x => x.Probability).FirstOrDefault().TagName) : @Html.DisplayFor(model => model.ImagePrediction.Predictions.OrderByDescending(x => x.Probability).FirstOrDefault().Probability)

<br />
<br />
<table class="table table-condensed table-bordered" header header-content="Predictions">
    <tr>
        <th>Tag Name</th>
        <th>Probability</th>
    </tr>

    @foreach (var c in Model.ImagePrediction.Predictions)
    {
        if (c == @Model.ImagePrediction.Predictions.OrderByDescending(x => x.Probability).FirstOrDefault())
        {
            @:<tr style = "background-color: lightgreen;">
        }
        else
        {
            @:<tr>
        }
        
            <td>
                @Html.DisplayFor(model => c.TagName)
            </td>
            <td>
                @Html.DisplayFor(model => c.Probability)
            </td>
        @:</tr>
    }
</table>