@model CarnivorousPlants.Models.ProjectViewModel.DetailsViewModel

@{
    ViewData["Title"] = @Model.Project.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Project.Name</h1>
<hr />

<img src="@Model.Project.ThumbnailUri" />

<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.Created)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Created)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.LastModified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.LastModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.Settings)
        </dt>
        <dd>
            <b>@Html.DisplayNameFor(model => model.Project.Settings.ClassificationType):</b>
            @Html.DisplayFor(model => model.Project.Settings.ClassificationType)
            <br />
            <b>@Html.DisplayNameFor(model => model.DomainName):</b>
            @Html.DisplayFor(model => model.DomainName)
        </dd>

    </dl>
</div>


<h2>
    Tags
    <a class="btn btn-outline-dark" asp-controller="Tag" asp-action="Create" asp-route-projectId="@Model.Project.Id">
        <span class="oi oi-plus">
        </span>
    </a>
</h2>
<hr />
<div>
    <table class="table table-condensed table-bordered" header header-content="Tags of project">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>ImageCount</th>
                <th>Options</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var tag in Model.Tags)
            {
                <tr>
                    <td>@tag.Name</td>
                    <td>@tag.Description</td>
                    <td>@tag.Type</td>
                    <td>@tag.ImageCount</td>
                    <td>
                        <a class="btn btn-outline-dark" asp-controller="Tag" asp-action="Delete" asp-route-projectId="@Model.Project.Id" asp-route-tagId="@tag.Id" onclick="return confirm('Do you really want to delete this tag?');">
                            <span class="oi oi-trash">
                            </span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<h2>
    Images
    <a class="btn btn-outline-dark" asp-controller="Image" asp-action="Create" asp-route-projectId="@Model.Project.Id">
        <span class="oi oi-plus">
        </span>
    </a>
</h2>
<div>
    <table class="table table-condensed table-bordered" header header-content="Tagged images">
        <thead>
            <tr>
                @*<th>Id</th>
                <th>Height x Width</th>
                <th>Created</th>*@
                <th>Image tagged</th>
                <th>Tags</th>
                <th>Option</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var image in Model.ImagesTagged)
            {
                <tr>
                    @*<td>@image.Id</td>
                    <td>@image.Height x @image.Width</td>
                    <td>@image.Created</td>*@
                    <td>
                        <img src="@image.ThumbnailUri" />
                    </td>
                    <td>
                        @foreach (var tag in @image.Tags)
                        {
                            @tag.TagName@:
                        }
                    </td>
                    <th>
                        <a class="btn btn-outline-dark" asp-controller="Image" asp-action="Delete" asp-route-projectId="@Model.Project.Id" asp-route-imageId="@image.Id" onclick="return confirm('Do you really want to delete this image?');">
                            <span class="oi oi-trash">
                            </span>
                        </a>
                    </th>

                    @*<td>
                        <a class="btn btn-outline-dark" asp-controller="Tag" asp-action="Delete" asp-route-projectId="@Model.Project.Id" asp-route-tagId="@image.Id" onclick="return confirm('Do you really want to delete this tag?');">
                            <span class="oi oi-trash">
                            </span>
                        </a>
                    </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <table class="table table-condensed table-bordered" header header-content="Untagges images">
        <thead>
            <tr>
                <th>Image untagged</th>
                <th>Tags</th>
                <th>Option</th>

            </tr>
        </thead>

        <tbody>
            @foreach (var image in Model.ImagesUntagged)
            {
                <tr>
                    <td>
                        <img src="@image.ThumbnailUri" />
                    </td>
                    <th></th>
                    <th>
                        <a class="btn btn-outline-dark" asp-controller="Image" asp-action="Delete" asp-route-projectId="@Model.Project.Id" asp-route-imageId="@image.Id" onclick="return confirm('Do you really want to delete this image?');">
                            <span class="oi oi-trash">
                            </span>
                        </a>
                    </th>

                    @*<td>
                        @foreach (var tag in @image.Tags)
                        {
                            @tag.TagName@:
                        }
                    </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>