@model CarnivorousPlants.Models.ProjectViewModel.DetailsViewModel

@{
    ViewData["Title"] = @Model.Project.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Project.Name</h1>
<hr />

<div>
    <dl class="dl-horizontal">
        <img src="@Model.Project.ThumbnailUri" />

        <dt>
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.Created)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Created)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.LastModified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.LastModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.Settings)
        </dt>
        <dd>
            <b>@Html.DisplayNameFor(model => model.Project.Settings.ClassificationType):</b>
            @Html.DisplayFor(model => model.Project.Settings.ClassificationType)
            <br />
            <b>@Html.DisplayNameFor(model => model.DomainName):</b>
            @Html.DisplayFor(model => model.DomainName)
        </dd>
        
    </dl>
</div>




