@using Microsoft.Azure.CognitiveServices.Vision.CustomVision.Training.Models
@model IList<Project>

@{
    ViewData["Title"] = "Projects";
 Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>Index of project</h1>*@

<h2>
    Projects
    <a class="btn btn-outline-dark" asp-action="Create">
        <span class="oi oi-plus">
        </span>
    </a>
</h2>

<table class="table table-condensed table-bordered" header header-content="Projects">
    <thead>
        <tr>
            @*<th>Id</th>*@
            <th>Name</th>
            <th>Description</th>
            <th>Created</th>
            <th>LastModified</th>
            <th>ThumbnailUri</th>
            <th>Options</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var project in Model)
        {
            <tr>
                @*<td>@jobPosition.Id</td>*@
                @*<td>@project.Id</td>*@
                <td>
                    <a  asp-action="Details" asp-route-projectId="@project.Id">
                        @project.Name
                    </a>
                </td>
                <td>@project.Description</td>
                <td>@project.Created.ToString("dd/MM/yyyy HH:mm:ss")</td>
                <td>@project.LastModified.ToString("dd/MM/yyyy HH:mm:ss")</td>
                <td><img src="@project.ThumbnailUri"/></td>
                <td>
                    <a class="btn btn-outline-dark" asp-action="Delete" asp-route-projectId="@project.Id" onclick="return confirm('Do you really want to delete this project?');">
                        <span class="oi oi-trash">
                        </span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

